@model IEnumerable<MVCOBL.Models.AspNetRole>

@{
    ViewData["Title"] = "Index";
}

<h1>Roles</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Crear</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
      
                </td>
        </tr>
}
    </tbody>
</table>
