

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

:root {
    --estado-buda: 0.3s;
    --cada-item: 18px;
    --cantidad-items: 0;
}



nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 26px;
}



    nav ul li a:hover {
        background-color: lightgray;
    }

    nav ul a {
        box-sizing: border-box;
        background-color: white;
        font-weight: 700;
        display: block;
        width: 100%;
        padding: 6px 10px;
        text-decoration: none;
    }


    nav ul ul {
        height: 0px;
        overflow: hidden;
        transition: var(--estado-buda);
        counter-reset: items;
    }

        nav ul ul li {
            counter-increment: items;
        }


    nav ul li:hover ul {
        height: calc( var(--cantidad-items) * var(--cada-item) );
        height: 100%;
    }


    nav ul ul a {
        background-color: ghostwhite;
    }
